* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-item {
	font-weight: bold;
	color: #f6f6f6;
	letter-spacing: 0.19em;
	padding-right: 0;
	padding-left: 0;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: all 0.15s ease;
}

.navbar-item:hover {
	color: #ffffff;
}

.navbar-toggler {
	outline: none;
	border: none;
}

.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none;
	color: #FFFFFF;
	color: #FFFFFF;
}