* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-item {
	font-weight: bold;
	color: #cdcdcd;
	letter-spacing: 0.19em;
	padding-right: 0;
	padding-left: 0;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: all 0.1s ease;
}

.navbar-item:hover {
	color: var(--bs-white);
}

.navbar-toggler {
	outline: none;
	border: none;
}

.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none;
	color: var(--bs-white);
}

a.cart-button {
	transition: all 0.1s ease;
}

a.cart-button:hover {
	border-color: var(--bs-boost) !important;
}

.list-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}
