#feat {
	background: url('../img/mobile_slide.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 73px !important;
	height: 92vh;
	min-height: 752px;
}

#feat .overdrive-left {
	background: url('../img/overdrive-left.svg') no-repeat;
	position: absolute;
	width: 16rem;
	height: 7rem;
	top: 0;
	left: 0;
}

#feat .overdrive-right {
	background: url('../img/overdrive-right.svg') no-repeat;
	position: absolute;
	width: 21rem;
	height: 14rem;
	bottom: -3px;
	right: 0;
}

.outer-space {
	font-size: 2.75rem;
	letter-spacing: 0.18em;
}

.outer-space i {
	font-size: 2.75rem;
	letter-spacing: 0.285em;
}

@media screen and (min-width: 768px) {
	#feat {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/desktop_slide.jpg') no-repeat;
		background-position: center;
		background-size: cover;
	}

	.logo {
		max-height: 56vh;
	}
}