.signin {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/desktop_slide.jpg') no-repeat;
	background-position: cover;
	background-position: center;
	background-size: cover;
	max-height: 752px;
}

@media screen and (min-height: 765px) {
	.signin {
		height: 92vh;
	}
}
